.header-text {
  fill: #ffffff;
  font-family: Seville-Regular;
}

.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
}

/* Date Header Item */
#date-item {
  height: 90;
}

#date-item-text {
  y: 40;
  font-size: 38;
  font-family: Seville-Regular;
  fill: #ffffff;
}

#date-events-text {
  y: $-5;
  font-size: 28;
  font-family: Seville-Regular;
  fill: #ffffff;
}

#event-item {
  height: 160;
}

/* Event background element location */
#event-background-section {
  x: 0;
  y: 0;
}

.rect-rounder {
  x1: 9;
  y1: 5;
  x2: 334;
  y2: 5;
  stroke-width: 10;
}

#header-black {
  y: 7;
  height: 5;
}

#fotter-black {
  y: 7;
  height: 6;
}

#background-rect {
  x: 4;
  y: 7;
  width: 336;
  height: 100%-14;
}

/* Event info element location */
#event-info-section {
  x: 15;
  y: 7;
  width: 100%-30;
}

#event-time-section {
  x: 5;
  y: $;
  height: 24;
  width: 100%-10;
}

#event-time-text {
  x: 0;
  y: 0;
  height: 24;
  width: 50%;
}

#event-duration-text {
  x: 50%;
  y: 0;
  height: 24;
  width: 50%;
}

#event-summary-section {
  x: 5;
  y: $;
  height: 34;
  width: 100%-30;
}

#event-summary-row-placeholder {
  x: 5;
  y: $;
  height: 34;
  width: 100%-30;
  display: none;
}

#event-location-text {
  x: 5;
  y: $;
  height: 34;
  width: 313;
}

.element-spacer {
  x: 5;
  y: $;
  height: 8;
  width: 100%;
}

#calendar-identifier {
  x1: 338;
  y1: 2;
  x2: 338;
  y2: 100%-5;
}

/* Event info formating */
.event-time {
  font-size: 22;
  font-family: Seville-Regular;
  fill: #ffffff;
}

.event-summary {
  font-size: 30;
  font-family: Seville-Bold;
  fill: #ffffff;
}

.event-location {
  font-size: 24;
  font-family: Seville-Regular;
  fill: #ffffff;
}


#footer-item {
  height: 44;
}

#last-update-text {
  font-size: 24;
  font-family: Seville-Regular;
  fill: #ffffff;
}

#update-overlay {
  display: none;
}

#spinner { 
  x: 50%-25;
  y: 50%-25;
  width: 50;
  height: 50;
  fill: fb-white;
}

#detail-overlay-summary-text {
  x: 15;
  y: 10;
  width: 100%-30;
  font-size: 38;
}

.detail-overlay-normal-text {
  x: 15;
  y: $+10;
  width: 100%-30;
  font-size: 22;
  fill: #ffffff;
}